---
swagger: "2.0"
info:
  version: "2018-06-30T00:05:47Z"
  title: "API da Quanta V1"
  description: |
    O Atenaprev.Net possuirá uma API REST para interagir com seus recursos, através JSON sobre HTTP, usando os verbos HTTP GET, PUT e POST. Cada recurso possui sua própria URL e pode ser manipulado de maneira isolada.
  x-logo:
    url: "http://unicredafinidade.com.br/admin/arquivos/images/logo-quanta.png"
    backgroundColor: "#FFFFFF"
    altText: "Quanta previdência"
tags:
- name: "Acesso – Ambientes e URL"
  description: |
    Estão disponibilizados 2 ambientes para acesso à API. Um ambiente de homologação e um ambiente de produção. Os Acessos dever ser feitos exclusivamente via protocolo seguro HTTPS.

        • O ambiente de Homologação deve ser acessado pelo endereço: HTTPS://api-hom.quanta-previdencia.com.br.
        • O ambiente de Produção deve ser acessado pelo endereço: HTTPS://api.quanta-previdencia.com.br.
- name: "Autenticação"
  description: |
    Todo acesso à API é feito do ponto de vista de um usuário existente no Atenaprev.Net. assim sendo, toda requisição à API deverá ser autenticada. A autenticação é feita via Owin Bearer Authentication. Em toda requisição, deve-se fornecer o acess_token da sessão HTTP no header da requisição conforme exemplo abaixo:

    Authorization: Bearer mHNrKEXC_jiwX8CCUyEQQM55fvdJZMh4_4SoopdgMQwPKMIWN07gCt45zE4L4FmabQZ0qZtpfsgImdeTxP1BokSANPqvr1TZZYw99rrCI1vpjs_tT4YwUfGNSRzMeQnT9X_aT0ROvLGM9V_ JotCytNRXg-fcQqQrs9XfnGpuCjokDxu1HUuzdVHpoKKoIvBs2SFbnzO_H4NqTtoMJsaIGIbcm0
- name: "CORS – Compartilhamento de Recursos de Origem Cruzada"
  description: |
    CORS é um mecanismo que permite que muitos recursos em uma página web sejam solicitados a partir de outro domínio fora do domínio a partir do qual se originou o recurso.
    Para iniciar uma solicitação de origem cruzada, um navegador envia o pedido com a chave Origin no cabeçalho HTTP. O valor desta chave é o domínio que serviu a página. Se o servidor permite a solicitação, ele envia a chave Access-Control-Allow-Origin (ACAO) no cabeçalho da resposta. O valor da chave ACAO indica que locais de origem são permitidas requisições de recursos. As chaves estão demonstradas no trecho abaixo:

    Origin: http://www.fabrikan.com

    Access-Control-Allow-Origin: http://www.fabrikan.com
host: apistudio.io
basePath: /try/c7528a9b-5992-4ce0-8c76-8a9083e34b49
schemes:
- "https"
paths:
  /api/v1/acesso/login:
    post:
      summary: "login"
      description: "Serviço que deverá ser consumido para realizar o Login na aplicação."
      parameters:
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/LoginBody"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/LoginRetorno"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/acesso/login")
                  .post(
                    RequestBody.create(
                     MediaType.parse("application/json"),
           "{\n" +
           "  \"Login\": \"Teste\",\n" +
           "  \"Password\": \"senhaTeste\"\n" +
           "}")
                  )
                  .addHeader("Authorization", "123accb67jkacxmnfgjh81")
                  .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/acesso/login"

          response = requests.post(url, json={
            "Login": "Teste",
            "Password": "senhaTeste"
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/acesso/login');
          $request->setMethod('post');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
            "Login": "Teste",
            "Password": "senhaTeste"
          }');

          $response = $request->send();

          echo $response->getBody();
      x-amazon-apigateway-integration:
        uri: "arn:aws:apigateway:sa-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:sa-east-1:646805913755:function:api-quanta-authenticate-dev/invocations"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws_proxy"

  /api/v1/beneficio/participante/Ativos:
    get:
      summary: "GetParticipantesAtivos"
      description: "Retorna os participantes ativos."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      - name: "codigoplano"
        default: "4"
        in: "query"
        required: false
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante/Ativos")
                  .get()
                  .addHeader("Authorization", "123accb67jkacxmnfgjh81")
                  .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/Ativos"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/Ativos');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ParticipanteAtivoRetorno"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/Ativos"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/Instituidor:
    get:
      summary: "GetInstituidor"
      description: "Retorna os Instituidores que contém vínculo com um determinado plano."
      produces:
      - "application/json"
      parameters:
      - name: "codigoPlano"
        description: "Identificador do plano"
        default: "4"
        in: "query"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                      "/api/v1/beneficio/participante/Instituidor"
                  )
                  .get()
                  .addHeader("Authorization",
                     "123accb67jkacxmnfgjh81"
                     )
                  .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/Instituidor"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/Instituidor');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getInstituidorRetorno"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/Instituidor"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/TitulosCobrancaEmpresa:
    get:
      produces:
      - "application/json"
      summary: "GetTitulosCobranca"
      description: "Retorna os Títulos de Cobrança destinados ao Empregador informado."
      parameters:
      - name: "competencia"
        in: "header"
        description: "Data de Competência"
        required: false
        type: "string"
      - name: "diaVencimento"
        in: "header"
        description: "Dia do Vencimento"
        required: false
        type: "string"
      - name: "cnpjEmpregador"
        in: "header"
        description: "CNPJ Empregador"
        required: false
        type: "string"
      - name: "tipoCobranca"
        in: "header"
        description: "Tipo de Cobrança, podendo ser:"
        enum:
        - "Desconto em Folha"
        - "Contribuição Mensal Empresa"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      - name: "status"
        in: "header"
        description: "Status, pode ser:"
        enum:
        - "Em Aberto"
        - "Pago"
        - "Cancelado"
        required: false
        type: "string"
      - name: "codigoContrato"
        in: "header"
        description: "Código do Contrato Contribuição"
        required: false
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante/TitulosCobrancaEmpresa
                        ?cnpjEmpregador=89055021321")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/TitulosCobrancaEmpresa"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'cnpjEmpregador': '89055021321'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/
           TitulosCobrancaEmpresa
           ?cnpjEmpregador=89055021321');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getTitulosCobranca"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/TitulosCobrancaEmpresa"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/adesoesPorPeriodo:
    get:
      produces:
      - "application/json"
      summary: "GetPropostasAdesaoPorPeriodo"
      description: "Retorna as propostas efetivadas no período passado como parâmetro na URL."
      parameters:
      - name: "dataInicio"
        description: "Data de início das propostas"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        description: "Identificador do plano"
        in: "query"
        required: false
        type: "string"
      - name: "cnpjEmpregador"
        in: "query"
        required: false
        type: "string"
      - name: "codigoInstituidor"
        description: "Código do Instituidor"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      - name: "dataFim"
        description: "Data fim das propostas"
        in: "query"
        required: false
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante/adesoesPorPeriodo
          ?dataInicio=2010-01-31T09%3A03%3A32
          &dataFim=2010-01-31T09%3A03%3A32
          &codigoInstituidor=45")
                  .get()
                  .addHeader("Authorization",
             "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/adesoesPorPeriodo"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'dataInicio': '2010-01-31T09:05:54',
             'dataFim': '2010-02-10T12:05:54',
             'codigoInstituidor': '4512'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/adesoesPorPeriodo
            ?dataInicio=2010-01-31T09%3A03%3A32
            &dataFim=2010-01-31T09%3A03%3A32
            &codigoInstituidor=45');

          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getAdesaoPorPeriodo"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/adesoesPorPeriodo"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/aporteParticipante/contribuicoesMovimentacaoDiaria:
    get:
      produces:
      - "application/json"
      summary: "GetContribuicoesAporteMovimentacaoDiaria"
      description: "Retorna as contribuições de aporte do participante para a exclusão da movimentação diária."
      parameters:
      - name: "nome"
        description: "Nome do participante"
        in: "query"
        required: false
        type: "string"
      - name: "inscricao"
        description: "Número de inscrição do participante"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        description: "Identificador do Plano"
        in: "query"
        required: false
        type: "string"
      - name: "cpf"
        description: "CPF do participante"
        in: "query"
        required: false
        type: "string"
      - name: "codigoInstituidor"
        description: "Código do Instituidor"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante
                  /aporteParticipante
                  /contribuicoesMovimentacaoDiaria
                  ?cpf=04905561070")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/aporteParticipante/contribuicoesMovimentacaoDiaria"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'cpf': '05561084080'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
            /aporteParticipante/
            contribuicoesMovimentacaoDiaria
            ?cpf=04905561070');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getContribuicoesAporteMovimentacaoDiaria"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/aporteParticipante/contribuicoesMovimentacaoDiaria"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/aporteProgramado:
    get:
      produces:
      - "application/json"
      summary: "GetAportesParticipanteByInscricaoCpf"
      description: "Retorna a relação de Aportes Programados filtrados pelo identificador da adesão passada na URL."
      parameters:
      - name: "tipo"
        description: "Tipo do aporte"
        enum:
        - "Programado"
        - "Único"
        in: "query"
        required: false
        type: "string"
      - name: "inscricao"
        description: "Número de inscrição do participante"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        description: "Identificador do Plano"
        in: "query"
        required: false
        type: "string"
      - name: "cpf"
        description: "CPF do Participante"
        in: "query"
        required: false
        type: "string"
      - name: "codigoInstituidor"
        description: "Código do Instituidor"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante/aporteProgramado
                  ?cpf=04905561070&codigoInstituidor=45")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/aporteProgramado"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'cpf': '05561084080',
             'codigoInstituidor': '45'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/aporteProgramado
             ?cpf=04905561070&codigoInstituidor=45');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getAporteParticipanteByInscricaoCpf"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/aporteProgramado"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/aporteProgramado/atualizar:
    post:
      produces:
      - "application/json"
      summary: "UpdateAporteProgramado"
      description: ""
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                  "/api/v1/beneficio/participante/aporteProgramado/atualizar"
                   )
                  .post(RequestBody.create(
                    MediaType.parse("application/json"), "{\n" +
                     "    \"inscricaoQuanta\": \"22690\",\n" +
                     "    \"origemAporte\": \"Participante\",\n" +
                     "    \"codigoPlano\": 2,\n" +
                     "    \"diaVencimento\": 5,\n" +
                     "    \"fimAporte\": \"2014-12-01T00:00:00\",\n" +
                     "    \"codigoAngariador\": 2,\n" +
                     "    \"nomeAngariador\": \"Nome do Angariador\",\n" +
                     "    \"diaVencimento\": 5,\n" +
                     "    \"userName\": \"nomeUsuarioSOP\"\n" +
                 "}"))
                  .addHeader("Authorization",
                    "123accb67jkacxmnfgjh81"
                  )
                  .build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/aporteProgramado/atualizar"

          response = requests.post(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
              "inscricaoQuanta": "22690",
              "origemAporte": "Participante",
              "codigoPlano": 2,
              "fimAporte": "2014-12-01T00:00:00",
              "codigoAngariador": 2,
              "nomeAngariador": "Nome do Angariador",
              "diaVencimento": 5,
              "userName": "nomeUsuarioSOP"
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/aporteProgramado/atualizar');
          $request->setMethod('post');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
              "inscricaoQuanta": "22690",
              "origemAporte": "Participante",
              "codigoPlano": 2,
              "diaVencimento": 5,
              "fimAporte": "2014-12-01T00:00:00",
              "codigoAngariador": 2,
              "nomeAngariador": "Nome do Angariador",
              "diaVencimento": 5,
              "userName": "nomeUsuarioSOP"
          }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/postUpdateAporteProgramadoResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/aporteProgramado/atualizar"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        type: "http_proxy"
  /api/v1/beneficio/participante/aporteProgramado/cancelar:
    post:
      produces:
      - "application/json"
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/postUpdateAporteProgramadoBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                      "/api/v1/beneficio/participante/
                      aporteProgramado/cancelar"
                  )
                  .post(RequestBody.create(
                          MediaType.parse("application/json"), "{\n" +
                            "  \"inscricaoQuanta\": \"1234\",\n" +
                            "  \"origemAporte\": \"Participante\",\n" +
                            "  \"codigoPlano\": 2,\n" +
                            "  \"userName\": \"nomeUsuarioSOP\"\n" +
                   "}"))
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                  )
                  .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
          /aporteProgramado/cancelar"

          response = requests.post(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
             "inscricaoQuanta": "1234",
             "origemAporte": "Participante",
             "codigoPlano": 2,
             "userName": "nomeUsuarioSOP"
          })
      - lang: 'PHP'
        source: |
          <?php
          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/
                            aporteProgramado/cancelar');
          $request->setMethod('post');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
             "inscricaoQuanta": "1234",
             "origemAporte": "Participante",
             "codigoPlano": 2,
             "userName": "nomeUsuarioSOP"
          }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/postUpdateAporteProgramadoResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/aporteProgramado/cancelar"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        type: "http_proxy"
  /api/v1/beneficio/participante/aporteProgramado/inserir:
    put:
      produces:
      - "application/json"
      summary: "InsertAporteParticipante"
      description: "Insere um Aporte Programado no sistema."
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/putInserirAporteParticipanteBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
               .url(
                 "/api/v1/beneficio/participante/
                 aporteProgramado/inserir"
               )
               .put(RequestBody.create(
                     MediaType.parse("application/json"), "{\n" +
                       "  \"inscricoesQuanta\": [\n" +
                       "    {\n" +
                       "      \"inscricaoQuanta\": 38\n" +
                       "    },\n" +
                       "    {\n" +
                       "      \"inscricaoQuanta\": 50\n" +
                       "    }\n" +
                       "  ],\n" +
                       "  \"codigoPlano\": 2,\n" +
                       "  \"inicioAporte\": \"2014-09-01T00:00:00\",\n" +
                       "  \"fimAporte\": \"2014-12-01T00:00:00\",\n" +
                       "  \"origemAporte\": \"Empregador\",\n" +
                       "  \"tipoAporte\": \"unico\",\n" +
                       "  \"diaVencimento\": 15,\n" +
                       "  \"valorAporte\": 90.67,\n" +
                       "  \"numeroDocumentoProducaoDiaria\": 1234,\n" +
                       "  \"codigoAngariador\": 3894,\n" +
                       "  \"nomeAngariador\": \"Quanta Angariador\",\n" +
                       "  \"origemAngariador\": \"RH\",\n" +
                       "  \"formaPagamento\": {\n" +
                       "    \"descricaoFormaPagamento\": \"Débito em Conta\",\n" +
                       "    \"nomeCorrentista\": \"Nome do Correntista para Débito em Conta\",\n" +
                       "    \"cpfCorrentista\": \"12345678900\",\n" +
                       "    \"cnpjCorrentista\": \"12345678901234\",\n" +
                       "    \"codigoBanco\": \"001\",\n" +
                       "    \"codigoAgencia\": \"3025\",\n" +
                       "    \"digitoAgencia\": \"8\",\n" +
                       "    \"numeroConta\": \"123456\",\n" +
                       "    \"digitoConta\": \"2\",\n" +
                       "    \"tipoContaBancaria\": \"Corrente\"\n" +
                       "  },\n" +
                       "  \"userName\": \"nomeUsuarioSOP\"\n" +
                       "}\n"))
               .addHeader("Authorization",
                 "123accb67jkacxmnfgjh81"
               )
               .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/
                aporteProgramado/inserir"

          response = requests.put(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
             "inscricoesQuanta": [
                {
                  "inscricaoQuanta": 38
                },
                {
                  "inscricaoQuanta": 50
                }
               ],
            "codigoPlano": 2,
            "inicioAporte": "2014-09-01T00:00:00",
            "fimAporte": "2014-12-01T00:00:00",
            "origemAporte": "Empregador",
              "tipoAporte": "unico",
              "diaVencimento": 15,
              "valorAporte": 90.67,
              "numeroDocumentoProducaoDiaria": 1234,
              "codigoAngariador": 3894,
              "nomeAngariador": "Quanta Angariador",
              "origemAngariador": "RH",
               "formaPagamento": ({
                 "descricaoFormaPagamento": "Débito em Conta",
                 "nomeCorrentista": "Nome do Correntista para Débito em Conta",
                 "cpfCorrentista": "12345678900",
                 "cnpjCorrentista": "12345678901234",
                 "codigoBanco": "001",
                 "codigoAgencia": "3025",
                 "digitoAgencia": "8",
                 "numeroConta": "123456",
                 "digitoConta": "2",
                 "tipoContaBancaria": "Corrente"
               }),
            "userName": "nomeUsuarioSOP"
          })
      - lang: 'PHP'
        source: |
          <?php
          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/
                           aporteProgramado/inserir');
          $request->setMethod('put');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
             "inscricoesQuanta": [
              {
                "inscricaoQuanta": 38
              },
              {
                "inscricaoQuanta": 50
              }
             ],
            "codigoPlano": 2,
            "inicioAporte": "2014-09-01T00:00:00",
            "fimAporte": "2014-12-01T00:00:00",
            "origemAporte": "Empregador",
            "tipoAporte": "unico",
            "diaVencimento": 15,
            "valorAporte": 90.67,
            "numeroDocumentoProducaoDiaria": 1234,
            "codigoAngariador": 3894,
            "nomeAngariador": "Quanta Angariador",
            "origemAngariador": "RH",
            "formaPagamento": {
              "descricaoFormaPagamento": "Débito em Conta",
              "nomeCorrentista": "Nome do Correntista para Débito em Conta",
              "cpfCorrentista": "12345678900",
              "cnpjCorrentista": "12345678901234",
              "codigoBanco": "001",
              "codigoAgencia": "3025",
              "digitoAgencia": "8",
              "numeroConta": "123456",
              "digitoConta": "2",
              "tipoContaBancaria": "Corrente"
            },
            "userName": "nomeUsuarioSOP"
            }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/putInserirAporteParticipanteResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/aporteProgramado/inserir"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "PUT"
        type: "http_proxy"
  /api/v1/beneficio/participante/aporteUnico/cancelar:
    post:
      produces:
      - "application/json"
      summary: "CancelarAporteUnico"
      description: "Cancela um aporte único no sistema"
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/postCancelarAporteUnicoBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                   "/api/v1/beneficio/participante/
                   aporteUnico/cancelar"
                  )
                  .post(RequestBody.create(
                         MediaType.parse("application/json"), "{\n" +
                            "  \"numeroDocumentoProducaoDiaria\": \"1234\",\n" +
                            "  \"codigoPlano\": 2,\n" +
                            "  \"userName\": \"nomeUsuarioSOP\"\n" +
                            "}\n"))
                  .addHeader("Authorization",
                   "123accb67jkacxmnfgjh81"
                  )
                  .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/
                   aporteUnico/cancelar"

          response = requests.post(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
             "numeroDocumentoProducaoDiaria": "1234",
             "codigoPlano": 2,
             "userName": "nomeUsuarioSOP"
          })
      - lang: 'PHP'
        source: |
          <?php
          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante/
                           aporteUnico/cancelar');
          $request->setMethod('post');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
             "numeroDocumentoProducaoDiaria": "1234",
             "codigoPlano": 2,
             "userName": "nomeUsuarioSOP"
          }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/postCancelarAporteUnicoResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/aporteUnico/cancelar"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        type: "http_proxy"
  /api/v1/beneficio/participante/boletoAporte:
    post:
      produces:
      - "application/json"
      summary: "GetBoletoByAporte"
      description: "Gera e retorna um array de byte do Boleto de Aporte"
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/postGetBoletoByAporteBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                   "/api/v1/beneficio/participante/boletoAporte"
                  )
                  .post(RequestBody.create(
                          MediaType.parse("application/json"), "{\n" +
                            "  \"inscricaoQuanta\": \"89494\",\n" +
                            "  \"origemAporte\": \"Empregador\",\n" +
                            "  \"tipoAporte\": \"Unico\",\n" +
                            "  \"vencimento\": \"2018-03-25T00:00:00\",\n" +
                            "  \"valorAporte\": 132,\n" +
                            "  \"formaPagamento\": \"Boleto\",\n" +
                            "  \"userName\": \"sop\",\n" +
                            "  \"codigoPlano\": 1\n" +
                            "} \n"))
                  .addHeader("Authorization",
                     "123accb67jkacxmnfgjh81"
                  )
                  .build();

          Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /boletoAporte"

          response = requests.post(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
               "inscricaoQuanta": "89494",
               "origemAporte": "Empregador",
               "tipoAporte": "Unico",
               "vencimento": "2018-03-25T00:00:00",
               "valorAporte": 132,
               "formaPagamento": "Boleto",
               "userName": "sop",
               "codigoPlano": 1
          })
      - lang: 'PHP'
        source: |
          <?php
          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
                           /boletoAporte');
          $request->setMethod('post');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
               "inscricaoQuanta": "89494",
               "origemAporte": "Empregador",
               "tipoAporte": "Unico",
               "vencimento": "2018-03-25T00:00:00",
               "valorAporte": 132,
               "formaPagamento": "Boleto",
               "userName": "sop",
               "codigoPlano": 1
          }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/postGetBoletoByAporteResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/boletoAporte"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        type: "http_proxy"
  /api/v1/beneficio/participante/boletoRisco:
    get:
      produces:
      - "application/json"
      summary: "GetBoletoRiscoByIdentificador"
      description: "Retorna o boleto da Cobrança da Apólice de Risco com o número do identificador Seguradora passado no parâmetro."
      parameters:
      - name: "identificadorSeguradora"
        in: "query"
        description: "Número identificador da apólice"
        required: false
        type: "string"
      - name: "dataVencimento"
        description: "Nova de Vencimento"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        description: "Identificador do plano"
        in: "query"
        required: false
        type: "string"
      - name: "novaDataVencimento"
        description: "Nova data de Vencimento"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante/boletoRisco
                  ?identificadorSeguradora=04905561070
                  &dataVencimento=2018-12-17T03%3A24%3A00")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante/boletoRisco"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'identificadorSeguradora': '05561084080',
             'dataVencimento': '1995-12-17T03%3A24%3A00'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
             /boletoRisco
             ?identificadorSeguradora=04905561070
             &dataVencimento=2018-12-17T03%3A24%3A00');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getBoletoRiscoByIdentificador"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/boletoRisco"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/boletoTituloEmpresa/gerar:
    put:
      produces:
      - "application/json"
      summary: "GetBoletoTitulo"
      description: "Retorna um array de bytes dos boletos dos Identificadores Títulos informados."
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/getBoletoTituloBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                    "/api/v1/beneficio/participante
                    /boletoTituloEmpresa
                    /gerar"
                   )
                  .put(RequestBody.create(
                    MediaType.parse("application/json"), "{\n" +
                      "  \"identificadoresTitulos\": [\n" +
                      "    {\n" +
                      "      \"identificadorTitulo\": 452\n" +
                      "    },\n" +
                      "    {\n" +
                      "      \"identificadorTitulo\": 4524\n" +
                      "    },\n" +
                      "    {\n" +
                      "      \"identificadorTitulo\": 7655\n" +
                      "    }\n" +
                      "  ]\n" +
                      "}\n" +
                      "\n"))
                  .addHeader("Authorization",
                    "123accb67jkacxmnfgjh81"
                  )
                  .build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /boletoTituloEmpresa
                /gerar"

          response = requests.put(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
             "identificadoresTitulos": [
                 {
                   "identificadorTitulo": 452
                 },
                 {
                   "identificadorTitulo": 4524
                 },
                 {
                   "identificadorTitulo": 7655
                 }
                ]
             })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
                           /boletoTituloEmpresa
                           /gerar');
          $request->setMethod('put');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
             "identificadoresTitulos": [
                 {
                   "identificadorTitulo": 452
                 },
                 {
                   "identificadorTitulo": 4524
                 },
                 {
                   "identificadorTitulo": 7655
                 }
                ]
             }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getBoletoTituloResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/boletoTituloEmpresa"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "PUT"
        type: "http_proxy"
  /api/v1/beneficio/participante/calendarioCobranca:
    get:
      produces:
      - "application/json"
      summary: "GetCalendarioCobranca"
      description: "Retorna os calendários de cobrança para realização da geração da cobrança."
      parameters:
      - name: "formaPagamento"
        description: "Formas de pagamentos podem ser: "
        enum:
        - "Débito em conta"
        - "Boleto Bancário"
        - "Desconto em Folha"
        in: "query"
        required: false
        type: "string"
      - name: "identificadorContrato"
        description: "Identificador do Contrato"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        description: "Identificador do Plano"
        in: "query"
        required: false
        type: "string"
      - name: "cnpjEmpregador"
        description: "CNPJ do Empregador"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante
                       /calendarioCobranca
                  ?identificadorContrato=02877102356
                  &cnpjEmpregador=049055610701
                  &formaPagamento=D%C3%A9bito+em+Conta
                  &codigoPlano=4")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /calendarioCobranca"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'identificadorContrato': '05561084080',
             'codigoPlano': '4',
             'cnpjEmpregador': '049055610701',
             'formaPagamento': 'D%C3%A9bito+em+Conta'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
             /calendarioCobranca
             ?identificadorContrato=02877102356
             &cnpjEmpregador=049055610701
             &formaPagamento=D%C3%A9bito+em+Conta
             &codigoPlano=4');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getCalendarioCobranca"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/calendarioCobranca"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/cobrancasNaoGerada:
    get:
      produces:
      - "application/json"
      summary: "GetCobrancasNaoGerada"
      description: "Retorna as cobranças dos valores das contribuições dos funcionários e contribuições de risco custeadas pela empresa."
      parameters:
      - name: "identificadorContrato"
        in: "query"
        description: "Identificador do Contrato"
        required: false
        type: "string"
      - name: "codigoPlano"
        in: "query"
        description: "Indicador do Plano"
        required: false
        type: "string"
      - name: "dataReferencia"
        in: "query"
        description: "Data de Referência"
        required: false
        type: "string"
      - name: "cnpjEmpresa"
        in: "query"
        description: "CNPJ da Empresa"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante
                  /cobrancasNaoGerada
                  ?identificadorContrato=02877102356
                  &cnpjEmpresa=049055610701
                  &dataReferencia=2018-12-17T03%3A24%3A00
                  &codigoPlano=4")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                 /cobrancasNaoGerada"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'identificadorContrato': '05561084080',
             'codigoPlano': '4',
             'cnpjEmpresa': '049055610701',
             'dataReferencia': '2018-12-17T03%3A24%3A00'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
             /cobrancasNaoGerada
             ?identificadorContrato=02877102356
             &cnpjEmpresa=049055610701
             &dataReferencia=2018-12-17T03%3A24%3A00
             &codigoPlano=4');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getCobrancasNaoGerada"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/cobrancasNaoGerada"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/contratoEmpregador:
    get:
      produces:
      - "application/json"
      summary: "GetContratoEmpregador"
      description: "Retorna os Contratos Empregador"
      parameters:
      - name: "codigoPlano"
        in: "query"
        description: "Identificador do Plano"
        required: false
        type: "string"
      - name: "cnpjEmpregador"
        in: "query"
        description: "CNPJ do Empregador"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante
                  /contratoEmpregador
                  ?codigoInstituidor=02877102356
                  &cnpjEmpregador=049055610701
                  &codigoPlano=4")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /contratoEmpregador"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'codigoInstituidor': '05561084080',
             'codigoPlano': '4',
             'cnpjEmpregador': '049055610701'
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
             /contratoEmpregador
             ?codigoInstituidor=02877102356
             &cnpjEmpregador=049055610701
             &codigoPlano=4');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getContratoEmpregador"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/contratoEmpregador"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/contribuicao/alterar:
    post:
      produces:
      - "application/json"
      summary: "InsertContribuicao"
      description: "Insere nova(s) Contribuição(s) na adesão do participante."
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/postInsertContribuicaoBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                    "/api/v1/beneficio/participante/contribuicao
                    /alterar"
                   )
                  .post(RequestBody.create(
                    MediaType.parse("application/json"), "{\n" +
                      "  \"inscricaoQuanta\": \"1234234\",\n" +
                      "  \"contribuicaoPlano\": [\n" +
                      "    {\n" +
                      "      \"valor\": 879.95\n" +
                      "    }\n" +
                      "  ],\n" +
                      "  \"observacao\": \"observações da alteração...\",\n" +
                      "  \"userName\": \"nomeUsuarioSOP\"\n" +
                      "}"))
                  .addHeader("Authorization",
                    "123accb67jkacxmnfgjh81"
                  )
                  .build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /contribuicao/alterar"

          response = requests.post(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
              "inscricaoQuanta": "1234234",
              "contribuicaoPlano": [
                 {
                  "valor": 879.95
                 }
                ],
              "observacao": "observações da alteração...",
              "userName": "nomeUsuarioSOP"
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
                           /contribuicao/alterar');
          $request->setMethod('post');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
           "inscricaoQuanta": "1234234",
             "contribuicaoPlano": [
              {
               "valor": 879.95
              }
             ],
           "observacao": "observações da alteração...",
           "userName": "nomeUsuarioSOP"
          }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/postInsertContribuicaoResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/contribuicao/alterar"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        type: "http_proxy"
  /api/v1/beneficio/participante/contribuicao/inserir:
    put:
      produces:
      - "application/json"
      summary: "InsertContribuicao"
      description: "Insere nova(s) Contribuição(s) na adesão do participante."
      parameters:
      - name: "body"
        in: "body"
        schema:
          $ref: "#/definitions/putInsertContribuicaoBody"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url(
                    "/api/v1/beneficio/participante
                    /contribuicao/inserir"
                   )
                  .put(RequestBody.create(
                    MediaType.parse("application/json"), "{\n" +
                      "  \"inscricaoQuanta\": \"1234234\",\n" +
                      "  \"dataVencimento\": \"2015-05-20T00:00:00\",\n" +
                      "  \"numeroDocumentoProducaoDiaria\": 1234,\n" +
                      "  \"codigoBanco\": \"001\",\n" +
                      "  \"codigoAgencia\": \"3025\",\n" +
                      "  \"digitoAgencia\": \"8\",\n" +
                      "  \"numeroConta\": \"123456\",\n" +
                      "  \"digitoConta\": \"2\",\n" +
                      "  \"tipoContaBancaria\": \"Corrente\",\n" +
                      "  \"codigoPlano\": 2,\n" +
                      "  \"contribuicaoPlano\": [\n" +
                      "    {\n" +
                      "      \"dataCompetencia\": \"2015-05-01T00:00:00\",\n" +
                      "      \"valor\": 879.97\n" +
                      "    },\n" +
                      "    {\n" +
                      "      \"dataCompetencia\": \"2015-05-01T00:00:00\",\n" +
                      "      \"valor\": 1000.06\n" +
                      "    }\n" +
                      "  ],\n" +
                      "  \"produtosRisco\": [\n" +
                      "    {\n" +
                      "      \"identificadorPropostaRiscoSeguradora\": 938382,\n" +
                      "      \"descricaoProdutoRisco\": \"Invalidez\",\n" +
                      "      \"dataCompetencia\": \"2015-05-01T00:00:00\",\n" +
                      "      \"codigoAngariador\": 1,\n" +
                      "      \"nomeAngariador\": \"Nome do Angariador\",\n" +
                      "      \"valorContribuicao\": 200.99\n" +
                      "    },\n" +
                      "    {\n" +
                      "      \"identificadorPropostaRiscoSeguradora\": 938382,\n" +
                      "      \"descricaoProdutoRisco\": \"Morte\",\n" +
                      "      \"dataCompetencia\": \"2015-05-01T00:00:00\",\n" +
                      "      \"codigoAngariador\": 1,\n" +
                      "      \"nomeAngariador\": \"Nome do Angariador\",\n" +
                      "      \"valorContribuicao\": 150.87\n" +
                      "    }\n" +
                      "  ],\n" +
                      "  \"userName\": \"nomeUsuarioSOP\"\n" +
                      "}\n" +
                      "\n""))
                  .addHeader("Authorization",
                    "123accb67jkacxmnfgjh81"
                  )
                  .build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /contribuicao/inserir"

          response = requests.put(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, json={
             "inscricaoQuanta": "1234234",
               "dataVencimento": "2015-05-20T00:00:00",
               "numeroDocumentoProducaoDiaria": 1234,
               "codigoBanco": "001",
               "codigoAgencia": "3025",
               "digitoAgencia": "8",
               "numeroConta": "123456",
               "digitoConta": "2",
               "tipoContaBancaria": "Corrente",
               "codigoPlano": 2,
               "contribuicaoPlano": [
                {
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "valor": 879.97
                },
                {
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "valor": 1000.06
                }
               ],
               "produtosRisco": [
                {
                  "identificadorPropostaRiscoSeguradora": 938382,
                  "descricaoProdutoRisco": "Invalidez",
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "codigoAngariador": 1,
                  "nomeAngariador": "Nome do Angariador",
                  "valorContribuicao": 200.99
                },
                {
                  "identificadorPropostaRiscoSeguradora": 938382,
                  "descricaoProdutoRisco": "Morte",
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "codigoAngariador": 1,
                  "nomeAngariador": "Nome do Angariador",
                  "valorContribuicao": 150.87
                }
               ],
               "userName": "nomeUsuarioSOP"
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/participante
                           /contribuicao/inserir');
          $request->setMethod('put');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $request->setBody('{
             "inscricaoQuanta": "1234234",
               "dataVencimento": "2015-05-20T00:00:00",
               "numeroDocumentoProducaoDiaria": 1234,
               "codigoBanco": "001",
               "codigoAgencia": "3025",
               "digitoAgencia": "8",
               "numeroConta": "123456",
               "digitoConta": "2",
               "tipoContaBancaria": "Corrente",
               "codigoPlano": 2,
               "contribuicaoPlano": [
                {
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "valor": 879.97
                },
                {
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "valor": 1000.06
                }
               ],
               "produtosRisco": [
                {
                  "identificadorPropostaRiscoSeguradora": 938382,
                  "descricaoProdutoRisco": "Invalidez",
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "codigoAngariador": 1,
                  "nomeAngariador": "Nome do Angariador",
                  "valorContribuicao": 200.99
                },
                {
                  "identificadorPropostaRiscoSeguradora": 938382,
                  "descricaoProdutoRisco": "Morte",
                  "dataCompetencia": "2015-05-01T00:00:00",
                  "codigoAngariador": 1,
                  "nomeAngariador": "Nome do Angariador",
                  "valorContribuicao": 150.87
                }
               ],
               "userName": "nomeUsuarioSOP"
          }');

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/putInsertContribuicaoResponse"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/contribuicao/inserir"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "PUT"
        type: "http_proxy"
  /api/v1/beneficio/participante/contribuicoesPassiveisEstorno:
    get:
      produces:
      - "application/json"
      summary: "GetContribuicoesPassiveisEstorno"
      description: "Retorna as contribuições passíveis de estorno"
      parameters:
      - name: "inscricao"
        description: "Inscrição do participante na Quanta"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        in: "query"
        description: "Identificador do plano"
        required: false
        type: "string"
      - name: "cpf"
        description: "CPF do participante"
        in: "query"
        required: false
        type: "string"
      - name: "codigoInstituidor"
        description: "Código do Instituidor"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante
                       /contribuicoesPassiveisEstorno
                  ?cpf=04905561070&codigoInstituidor=45
                  &codigoPlano=4")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /contribuicoesPassiveisEstorno"

          response = requests.get(url, headers={
             'Authorization': '123accb67jkacxmnfgjh81'
          }, params={
             'cpf': '05561084080',
             'codigoInstituidor': 45,
             'codigoPlano': 4,
          })
      - lang: 'PHP'
        source: |
          <?php

          $request = new HttpRequest();

          $request->setUrl('/api/v1/beneficio/
                           /contribuicoesPassiveisEstorno
             ?cpf=04905561070&codigoInstituidor=45
             &codigoPlano=4');
          $request->setMethod('get');

          $request->setHeaders(array(
              'Authorization' => '123accb67jkacxmnfgjh81'
          ));

          $response = $request->send();

          echo $response->getBody();
      responses:
        410:
          description: "410 response"
        411:
          description: "411 response"
        412:
          description: "412 response"
        413:
          description: "413 response"
        414:
          description: "414 response"
        415:
          description: "415 response"
        416:
          description: "416 response"
        417:
          description: "417 response"
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/getContribuicoesPassiveisEstorno"
        201:
          description: "201 response"
        202:
          description: "202 response"
        400:
          description: "400 response"
        203:
          description: "203 response"
        401:
          description: "401 response"
        500:
          description: "500 response"
        204:
          description: "204 response"
        501:
          description: "501 response"
        205:
          description: "205 response"
        403:
          description: "403 response"
        502:
          description: "502 response"
        206:
          description: "206 response"
        404:
          description: "404 response"
        503:
          description: "503 response"
        405:
          description: "405 response"
        504:
          description: "504 response"
        406:
          description: "406 response"
        505:
          description: "505 response"
        407:
          description: "407 response"
        506:
          description: "506 response"
        408:
          description: "408 response"
        409:
          description: "409 response"
      x-amazon-apigateway-integration:
        uri: "https://${stageVariables.API_QUANTA_ENDPOINT_URL}/api/v1/beneficio/participante/contribuicoesPassiveisEstorno"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "GET"
        type: "http_proxy"
  /api/v1/beneficio/participante/dadosBasicos:
    get:
      produces:
      - "application/json"
      parameters:
      - name: "inscricao"
        in: "query"
        required: false
        type: "string"
      - name: "codigoPlano"
        in: "query"
        required: false
        type: "string"
      - name: "codigoInstituidor"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
      x-code-samples:
      - lang: 'JAVA'
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
                  .url("/api/v1/beneficio/participante
                     /dadosBasicos
                     ?codigoPlano=04905561070&codigoInstituidor=45")
                  .get()
                  .addHeader("Authorization",
                            "123accb67jkacxmnfgjh81"
                     )
                  build();

           Response response = client.newCall(request).execute();
      - lang: 'PYTHON'
        source: |
          import requests

          url = "/api/v1/beneficio/participante
                /dadosBasicos"

          response = requests.get(url, headers={
[...]
